<div class="container">
  <h1 class="login-title">Account Login</h1>
  <form class="login-form" action="/" method="post">
    <input class="loginput" type="email" name="email" placeholder="Email" required value="{{email}}">
    <input class="loginput" type="password" name="password" placeholder="Password" required value="{{password}}">
    <p class="incorrect">{{incorrect}}</p>
    <button class="log-btn">login</button>
  </form>
</div>

